/* Stili Generali */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    font-family: 'Poppins', sans-serif;
    font-size: 14px;
    color-scheme: dark;
}

/* 
Stili Main 
*/

/* Stili Titolo */
#title {
    text-align: center;
    color: #ffff;
    font-size: 130px;
    margin: 50px 0;
}

/* Stili Container */
.container {
    display: flex;
    flex-wrap: wrap;
    gap: 1%;
    width: 80%;
    margin: 0 auto;
}

.square {
    width: 13%;
    height: 180px;
    background: #1389b2;
    color: black;
    font-size: 30px;
    margin-bottom: 18px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.multiple-three {
    background-color: #0cd6a1;
}

.multiple-five {
    background-color: #ffd166;
}

.multiple-both {
    background-color: #f0466f;
}